body{
    margin: 0px;
    padding: 0px;
    background-color: #fafafa;
    /* dont know what this font is but it autofills in vscode and looks nice */
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#content{
    justify-content: center;
    /* padding: 1%; */
}

.halfDiv{
    position: absolute;
    height: 89vh;
    background-color: inherit;
    bottom: 0px;
    position: absolute;
}

#playlistViewContainer{
    padding: 0;
    width: 44%;
    display: inline-block;
}

#songsViewContainer{
    margin-left: 45%;
    width: 55%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

header{
    background-color: #707F8D;
    height: 9vh;
}

#playlistSearch{
    float: left;
    width: auto;
    height: 45px;
    margin: 8px;
    padding: 0;
    padding-left: 15px;
    border: 0px;
    font-size: 1.5em;
    background-color: #f2f2f2;
    color: #444;
    flex-grow: 2;
    flex-shrink: 5;
    min-width: 20px;
}

#playlistSearch::placeholder{
    color: #ddd;
}

#playlistSearchContainer{
    /* padding-right: 2%; */
    background-color: #c4c4c4;
    margin: 10px;
    margin-top: 5px;
    display: flex;
    align-content: center;
    align-items: center;
}

#playlistAdd{
    /* float: right; */
    width: 45px;
    height: 45px;
    border: 0px;
    margin: 8px;
    margin-left: 0;
    background-color: #868686;
    /* font-size: 150%; */
    cursor: pointer;
}

#playlistAdd:hover{
    background-color: #555;
}

#playlistAdd:active{
    background-color: #444;
}

#midBreak{
    position: absolute;
    margin-left: 44vw;
    height: 89.5vh;
    width: 1;
}

#playlistsContainer{
    height: 80%;
    overflow-y: auto;
}

.playlistItem{
    background-color: #c4c4c4;
    margin: 2%;
    padding: 2%;
    box-shadow: 3px 5px 7px rgba(40, 40, 40, 0.45); 
    /* #888 */
    display: inline-flex;
    width: 38vw;
    margin-left: 3%;
    margin-right: 3%;
    justify-content: space-between;
}
.playlistItem:hover{
    background-color: #cfcfcf;
}

.playlistItemImage{
    width: 100px;
    height: 100px;
    transition: filter 0.5s;
}

.playlistItemImage:hover{
    filter: brightness(70%);
}

.playlistItemTitle{
    font-size: 200%;
    margin: 1%;
}

.playlistItemSongsNum{
    color: #868686;
    margin: 1%;
}

.playlistItemMain{
    display: inline-flex;
    justify-content: space-between;
}

.playlistItemRemove{
    opacity: 0;
    transition: opacity 0.5s;
    border: 0px;
    /* border-radius: 5px; */
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    width: 25px;
    height: 25px;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.playlistItemCloseImg{
    width: 25px;
    height: 25px;
}

.playlistItem:hover .playlistItemRemove{
    opacity: 1;
}

.playlistItemRemove:hover .playlistItemCloseImg{
    width: 20px;
    height: 20px;
}

.playlistItemExtra{
    position: relative;
    background-color: #888;
    top: -1em;
    margin: 5%;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: -1;
    height: 200px;
    width: 36vw;
    left: 1vw;
    overflow: hidden;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);

    transition: max-height ease-in-out;
    transition-duration: 0.5s;
}

.playlistItemExtraInner{
    position: absolute;
    bottom: 0;
    height: 50px
}

.playlistItemText{
    /* margin: 0; */
}


#songsTopBar{
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
    height: 45px;
    align-items: flex-start;
}

#songsTopBarInfo{
    display: inline-flex;
    justify-content: left;
    font-size: 120%;
    align-items: center;
}

#songsTopBarType{
    padding: 2px;
    display: inline-flex;
    align-items: center;
    font-size: 100%;
    margin: 1%;    
}

.mergeTypeInput{
    opacity: 0;
    width: 0;
    height: 0;
}
.mergeTypeInput:checked + .mergeTypeLabel{
    background-color: #777;
}
.mergeTypeLabel{
    background-color: #bbb;
    padding: 5px 12px 5px 12px;
    margin-left: 5px;
}
.mergeTypeLabel:hover{
    background-color: #ddd;
    cursor: pointer;
}
.mergeTypeLabel:active{
    background-color: #888;
}
.mergeTypeRadio:checked + .mergeTypeLabel{
    background-color: #900;
}


#songsNum{
    color: #888;
    margin: 0.5em 5px 0px 5px;
    margin-right: 5px;
}

#songsIncluded{
    color: #2d2;
    margin-right: 3px;
}

#songsExcluded{
    color: #db0b0b;
}

#songsContainer{
    flex-grow: 5;
    /* overflow-y: auto; */
    margin-right: 10px;
    margin-left: 5px;
}

.exportButton{
    /* height: 30px; */
    margin: 0.5%;
    padding: 2%;
    float: right;
    /* border-radius: 3px; */
    border-width: 0px;
    cursor: pointer;
    box-shadow: 1px 2px 3px #888;
}
.exportButton:hover{
    filter: brightness(85%);
}
.exportButton:active{
    filter: brightness(70%);
}

.disabled{
    filter: brightness(70%) grayscale(100%) !important;
    cursor: not-allowed !important;
}

#songsExport{
    display: flex;
    flex-flow: row-reverse wrap;
    margin: 1%;
}

/* .exportButtonIcon{
    width: 15px;
    height: 15px;`
} */

#exportToTitle{
    position: relative;
    left: 0%;
    margin: 0;
}

.spotifyFill{
    /* background: linear-gradient(to left,  #19a54a,  #21d861); */
    background-color: #1DB954;
}
.spotifyBorder{
    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left,  #19a54a,  #21d861);
}

.youtubeFill{
    background: #f21;
    color: white;
}
.youtubeBorder{
    border-color: #f01;
    border-style: solid;
    border-width: 2px;
}

.soundcloudFill{
    background: #ff8800;
}
.soundcloudBorder{
    border-color: #ff8800;
    border-style: solid;
    border-width: 2px;
}

.appleFill{
    background: linear-gradient(to right, #fd5c6b, #7e68fe, #4ba0f9);;
}
.appleBorder{
    border: 3px solid;
    border-image-slice: 1px solid;
    border-image-source: linear-gradient(to right, #fd5c6b, #7e68fe, #4ba0f9);;
}

.downloadFill{
    background: #88a;
}
.downloadBorder{
    border-color: #444;
    border-style: solid;
    border-width: 2px;
}

.songItem{
    box-shadow: 1px 5px 6px #888;
    background-color: #c4c4c4;
    /* height: 30px; */
    display: inline-flex;
    width: 95%;
    margin-bottom: 15px;
    margin-left: 2%;
}
.songItem:hover{
    background-color: #cfcfcf;
}
.songItem:active{
    background-color: #bbb;
}

.songItemImg{
    width: 30px;
    height: 30px;
    margin: 5px;
}

.songItemTitle{
    margin-top: 0;
    margin-bottom: 0;
}

.songItemArtists{
}

#darkOverlayBackground{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    z-index: 3;

    transition: opacity 0.4s;
}

#darkOverlayBackground:hover{
    /* transition: opacity 0.1s; */
    opacity: 0.3 !important;
}

#darkOverlay{
    position: absolute;
    width: 70vw;
    height: 80vh;
    background-color: #1a1a1a;

    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);

    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
    transition: transform 1s;
    /* animation-name: exportSlideIn;
    animation-duration: 1s; */
}
@keyframes exportSlideIn{
    from{transform: translate(-50%, -150%);}
    to{transform: translate(-50%, -50%);}
}

@keyframes exportBackgroundDim{
    from{opacity: 0;}
    to{opacity: 0.4;}
}

#exportingTitle{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    color: whitesmoke;
    margin: 30px;
    text-align: center;
}

[data-tooltip]:before {
    /* needed - do not touch */
    content: attr(data-tooltip);
    text-align: center;
    position: absolute;
    opacity: 0;
    
    /* customizable */
    transition: all 0.25s ease;
    transition-delay: 0.3s;
    padding: 5px;
    color: #333;
    border-color: #333;
    border-width: 2px;
    border-style: solid;

    margin-top: -4vh;
    margin-left: -10%;  
    font-size: 75%;
}

[data-tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    background: #eee;
    margin-top: -4vh;
    margin-left: -10%;    
}

[data-tooltip]:not([data-tooltip-persistent]):before {
    pointer-events: none;
}

#playlistHelp{
    position: absolute;
    top: -2em;
    left: 4%;
    color: #ccc;
    transition: color 0.1s ease;
    cursor: pointer;
    text-decoration: underline;
    transition: color 2s;
    transition: font-size 2s;
}

.playlistHelpHighlight{
    /* font-size: 150%; */
    animation-name: flashHelp;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
}

@keyframes flashHelp{
    0% {
        color: #ccc;
    }
    60% {
        color: #333;
    }
    100% {
        color: #ccc;
    }
}

#playlistHelp:hover{
    color: #777 !important;
}

#playlistSearchContainer:hover #playlistHelp{
    color: #bbb;
}

#helpingTitle{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#helpPlatformBar{
    display: flex;
    margin: 0;
    width: 100%;
    background-color: #111;
    justify-content: space-around;
    /* overflow: hidden; */
}

.helpPlatformBarItem{
    color: #aaa;
    flex-grow: 1;
    padding: 1em;
    background-color: #222;
    margin: 0;
    margin-right: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 1s;
}

.helpPlatformBarItem:hover{
    background-color: #353535 !important;
    color: #fff
}

#helpOverlayContent{
    padding: 50px;
    overflow: hidden;
    position: relative;
    transition: left 1s;
}

#helpPlatformBarSelector{
    top: 2.7em;
    height: 0.3em;
    position: absolute;
    /* display: inline-block; */
    transition: all 1s;
    background-color: #ddd;
}

.helpPlatformBarButtonSelected{
    background-color: #333;
}